{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-param-reassign": 0,
    "no-shadow": 0
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "env": {
    "browser": true
  },
  "overrides": [
    {
      "files": ["example/**/*.js", "example/**/*.mjs", "example/**/*.vue"],
      "extends": ["airbnb-base", "plugin:vue/vue3-recommended", "prettier", "prettier/vue"],
      "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module"
      },
      "env": {
        "browser": true,
        "node": true
      },
      "rules": {
        "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
        "import/no-unresolved": ["error", { "ignore": ["^click-outside-vue3$", "^vite$", "^@vitejs/plugin-vue$"] }],
        "no-console": "off"
      }
    }
  ]
}
